{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Image du produit {{ productName }}</h1>

    <p class="text-end"><a href="{{ path('admin_product_index') }}" class="btn btn-default"><i class="icon-list"></i> Retour aux produits</a><a href="{{ path('admin_product_picture_new', {id:productId}) }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Preview</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td>{{ picture.id }}</td>
                <td>{{ picture.title }}</td>
                <td>{{ picture.description }}</td>
                <td><img src=" {{ asset('uploads/product/'~picture.file) }}" width="100" ></td>
                <td>
                    <a href="">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-end"><a href="{{ path('admin_product_picture_new', {id:productId}) }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>
{% endblock %}
