{% extends 'admin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <p class="text-end"><a href="{{ path('admin_product_new') }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Reference</th>
                <th>CreatedAt</th>
                <th>Valid</th>
                <th>Slug</th>
                <th>Weight</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{% if(not product.productPictures.isEmpty() ) %}<img src=" {{ asset('uploads/product/'~product.productPictures.0.file) }}" width="100" >{% endif %}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.valid ? 'Yes' : 'No' }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.category.title }}</td>
                <td>
                    {{ include('admin_product/_delete_form.html.twig') }}
                    <a href="{{ path('admin_product_edit', {'id': product.id}) }}"><i class="icon-pencil"></i></a>
                    <a href="{{ path('admin_product_picture_index', {'id': product.id}) }}"><i class="icon-images"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-end"><a href="{{ path('admin_product_new') }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>
{% endblock %}
