{% extends 'admin.html.twig' %}

{% block title %}Ajouter une image{% endblock %}

{% block body %}
    <h1>Ajouter une image au produit {{ productName }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Ajouter</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_product_picture_index',{id:productId}) }}">Retour</a>
{% endblock %}
