<form method="post" action="{{ path('admin_tva_delete', {'id': tva.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tva.id) }}">
    <button class="btn">Delete</button>
</form>
