{% extends 'admin.html.twig' %}

{% block title %}Edit Tva{% endblock %}

{% block body %}
    <h1>Edit Tva</h1>

    {{ include('admin_tva/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_tva_index') }}">back to list</a>

    {{ include('admin_tva/_delete_form.html.twig') }}
{% endblock %}
