{% extends 'admin.html.twig' %}

{% block title %}New Tva{% endblock %}

{% block body %}
    <h1>Create new Tva</h1>

    {{ include('admin_tva/_form.html.twig') }}

    <a href="{{ path('admin_tva_index') }}">back to list</a>
{% endblock %}
