{% extends 'admin.html.twig' %}

{% block title %}Tva{% endblock %}

{% block body %}
    <h1>Tva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tva.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tva.name }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ tva.rate }}</td>
            </tr>
            <tr>
                <th>Valid</th>
                <td>{{ tva.valid ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_tva_index') }}">back to list</a>

    <a href="{{ path('admin_tva_edit', {'id': tva.id}) }}">edit</a>

    {{ include('admin_tva/_delete_form.html.twig') }}
{% endblock %}
