{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    
    {% if(category.picture != null) %}<img src=" {{ asset('uploads/category/'~category.picture) }}" width="100" >{% endif %}
    {{ form_row(form.picture) }}
   
    
    {{ form_row(form.parent) }}
    {{ form_row(form.valid) }}
    
    
    
    <button class="btn btn-success">{% if edit %}Update{% else %}Save{% endif %}</button>
{{ form_end(form) }}
