{% extends 'admin.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    
    <p class="text-end"><a href="{{ path('admin_category_new') }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th></th>
                <th>Title</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Valid</th>
                <th>CreatedAt</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{% if(category.picture != null) %}<img src=" {{ asset('uploads/category/'~category.picture) }}" width="100" >{% endif %}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.picture }}</td>
                <td>{{ category.valid ? 'Yes' : 'No' }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ category.slug }}</td>
                <td>
                    {{ include('admin_category/_delete_form.html.twig') }}
                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de catégories</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p class="text-end"><a href="{{ path('admin_category_new') }}" class="btn btn-info"><i class="icon-plus"></i> Ajouter</a></p>
{% endblock %}
