{% extends 'admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>{% if edit %}{% trans %}Edit category{% endtrans %}{% else %}{% trans %}Add category{% endtrans %}{% endif %}</h1>

    {{ include('admin_category/_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">{% trans %}back to list{% endtrans %}<</a>
{% endblock %}
