
<li class="nav-item">
    <a class="nav-link" href="{{ path('categories') }}">Toutes</a>
</li>
<li>
    <hr class="dropdown-divider">
</li>
{% for category in categories %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('category', {slug:category.slug}) }}">{{ category.title }}</a>
    </li>
{% endfor %}