{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<h1>{% trans %}Bonjour !{% endtrans %}</h1>
<section class="row"></section>
{% for product in products %}
    <div class="col-4">
        <h2>{{ product.name }}</h2>
        <a href="{{ path('product_detail', {'slug' : product.slug} ) }}">
            {% if(not product.productPictures.isEmpty() ) %}
            <img src="{{ product.productPictures.0.file }}" alt="{{ product.name }}">
            {% endif %}
            <!-- Hover Content -->
            <p>à partir de {{ product.price }} €</p>
        </a>
    </div>
    
                
{% endfor %}
</section>
{% endblock %}
