{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">{{ product.category.title }}</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ product.name }}</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="row">
                   
                    {% for picture in product.productPictures %}
                    <div class="col-4">
                        <a class="gallery_img" href="{{ asset('uploads/product/'~picture.file) }}">
                            <img class="img-fluid" src="{{ asset('uploads/product/'~picture.file) }}" alt="{{ picture.title }}">
                        </a>
                    </div>
                    {% endfor %}
                
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <h2>{{ product.name }}</h2>
                        <hr class="bg-danger border-2 border-top border-danger">
                        <p class="fs-2 fw-bold">{{ product.price }} €</p>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="icon-star-full" aria-hidden="true"></i>
                                <i class="icon-star-full" aria-hidden="true"></i>
                                <i class="icon-star-full" aria-hidden="true"></i>
                                <i class="icon-star-full" aria-hidden="true"></i>
                                <i class="icon-star-half" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Ecrire un avis</a>
                            </div>
                        </div>
                       
                    </div>

                    <div class="short_overview my-5">
                        <p>{{ product.description }}</p>
                    </div>

                    <!-- Add to Cart Form -->
                    {% if product.quantity > 0 %}
                     <!-- Avaiable -->
                    <p class="avaibility"><i class="icon-checkmark"></i> In Stock</p>
                    <form data-controller="cart" data-cart-url-value="{{ path('cart_add', {id:product.id}) }}" data-action="submit->cart#sendData" class="cart clearfix" method="post" action="{{ path('cart_add', {id:product.id}) }}">
                        <div class="cart-btn d-flex mb-50">
                            <p>Qté</p>
                            <div class="quantity">
                                <span class="qty-minus"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                <input data-cart-target="qte" type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                <span class="qty-plus"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark"><i class="icon-cart"></i> Ajouter au panier</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
{% endblock %}