<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="section-header">
            <nav class="navbar navbar-dark navbar-expand p-0 bg-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav d-flex ms-auto align-items-center">
                       
                        
                        {% if not app.user %}
                            <li class="nav-item"> <a href="{{ path('app_register') }}" class="nav-link d-flex align-items-center" data-abc="true">Register<i class='bx bxs-chevron-down'></i></a> </li>
                            
                            <li class="nav-item"> 
                            <a href="{{ path('app_login') }}" class="nav-link d-flex align-items-center" data-abc="true"><i class="icon-user"></i> Login<i class='bx bxs-chevron-down'></i></a> 
                        {% else %}
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="icon-user"></i> {{ app.user.firstname }} {{ app.user.lastname }} </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Mon compte</a></li>
                                    <li><a class="dropdown-item" href="#">Mes commandes</a></li>
                                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                                </ul>
                        {% endif %}
                        </li>
                        
                        
                        <li class="nav-item">
                            <a href="{{ path('homepage', {_locale:'en'}) }}" class="nav-link d-flex align-items-center">EN</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('homepage', {_locale:'fr'}) }}" class="nav-link d-flex align-items-center">FR</a>
                        </li>
        
                    </ul> <!-- list-inline // -->
                </div> <!-- navbar-collapse .// -->
                <!-- container // -->
            </nav> <!-- header-top-light.// -->
            <section class="header-main border-bottom bg-white">
                <div class="container-fluid">
                    <div class="row p-2 pt-3 pb-3 d-flex align-items-center">
                        <div class="col-md-2"> <a href="{{ path('homepage', {_locale:app.request.locale}) }}">E-cOmMeRcE</a> </div>
                        <div class="col-md-8">
                            <div class="d-flex form-inputs"> <input class="form-control" type="text" placeholder="Search any product..."> <i class="icon-eye"></i> </div>
                        </div>
                        <div class="col-md-2">
                            <div class="d-flex d-none d-md-flex flex-row align-items-center"> <span class="shop-bag"><i class='icon-cart'></i></span>
                                <div class="d-flex flex-column ms-2"> <span class="qty">1 Product</span> <span class="fw-bold">$27.90</span> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid"> <a class="navbar-brand d-md-none d-md-flex" href="#">Categories</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Catégories </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    {{ render(controller('App\\Controller\\FrontController::categoriesNavigation')) }}
                                </ul>
                            </li>
                            <li class="nav-item"> <a class="nav-link" href="{{ path('static', {page:'about'}) }}">{% trans from 'menu' %}About{% endtrans %}</a> </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main class="container-fluid mt-5 mb-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </main>
        <footer class="footer mt-auto py-3 bg-light">
          <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
          </div>
        </footer>
    </body>
</html>
